<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>826468171337-9lmcsf0543rk2309s2scnjupf5tj6hla.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.826468171337-9lmcsf0543rk2309s2scnjupf5tj6hla</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>826468171337-3cjif8c2mu8lelordr5btmfhgjjn3os4.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBOo73LdPjCr7SlrqA8A4IMHTATfreGYco</string>
	<key>GCM_SENDER_ID</key>
	<string>826468171337</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>vn.onluyen.school</string>
	<key>PROJECT_ID</key>
	<string>onluyen-a2989</string>
	<key>STORAGE_BUCKET</key>
	<string>onluyen-a2989.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:826468171337:ios:de0081151849995f7b4998</string>
	<key>DATABASE_URL</key>
	<string>https://onluyen-a2989.firebaseio.com</string>
</dict>
</plist>